* {
    font-family: 'Courier New', Courier, monospace;
    cursor: url('/cursor.cur'), auto;
}

body {
    background-image: url("https://us.123rf.com/450wm/photoplotnikov/photoplotnikov1803/photoplotnikov180300038/97357324-stock-vector-seamless-pattern-with-fresh-ripe-potatoes-background-with-potatoes-different-shapes-with-brown-point.jpg?ver=6")
}

#body {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 5px solid rgb(145, 101, 50);
    background: rgba(255, 255, 255, 0.5);
    width: 65%;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.button {
    border-radius: 12px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(145, 101, 50);
    text-decoration: none;
    color: black;
}

.page {
    font-weight: bold;
    font-size: 30px;
}

#top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 180, 81, 0.801);
    color: black;
    text-align: left;
    font-size: 20px;
    padding: 10px
}

.title {
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
    color: black;
}

.img {
    margin-top: 20px; 
}

.text {
    font-size: 25px;
    font-weight: initial;
    text-decoration: none;
    color: black;
}

.gamebutton {
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    box-shadow: 0 10px 0 0 rgb(145, 101, 50);
    display: block;
    background: rgba(255, 180, 81, 0.801);
    color: black;
    font-weight: bold;
    padding: 5px 25px;
    border: 0;
    font-size: 1.2em;
    opacity: 0.9;
    border-radius: 10px;
    text-decoration: none;
    width: 80px;
    font-size: 50px;
}
  
.gamebutton:active {
    box-shadow: none;
    top: 10px;
    margin-bottom: 0;
}
  
.gamebutton:hover {
    opacity: 1;
}
  
.gamebutton:active,
.gamebutton:focus {
    outline: 0;
}

#smallTitle {
    font-size: 15px;
    font-weight: bold;
}

#game {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 5px solid rgb(145, 101, 50);
    background: white;
    width: 65%;
}

.smallbutton {
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    box-shadow: 0 10px 0 0 rgb(145, 101, 50);
    display: block;
    background: rgba(255, 180, 81, 0.801);
    color: black;
    font-weight: bold;
    padding: 5px 25px;
    border: 0;
    font-size: 20px;
    opacity: 0.9;
    border-radius: 10px;
    text-decoration: none;
    width: 20%;

}
  
.smallbutton:active {
    box-shadow: none;
    top: 10px;
    margin-bottom: 0;
}
  
.smallbutton:hover {
    opacity: 1;
}
  
.smallbutton:active,
.smallbutton:focus {
    outline: 0;
}

.gametitle {
    font-weight: bold;
    font-size: 30px;
}

.battle {
    display: inline-block;
}

.gamesubtitle {
    font-weight: bold;
    font-size: 15px;
}

.container {
    padding:5px 30px 30px 30px;
    margin:30px;
    border-radius:5px;
    text-align:center;
  }
    /* when button works  */
  .btn-success, .btn-danger {
    width:200px;
    font-size: 25px;
    border: 5px solid rgb(145, 101, 50);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-weight: bold;
}
