* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("https://us.123rf.com/450wm/photoplotnikov/photoplotnikov1803/photoplotnikov180300038/97357324-stock-vector-seamless-pattern-with-fresh-ripe-potatoes-background-with-potatoes-different-shapes-with-brown-point.jpg?ver=6")
}

#body {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 5px solid rgb(145, 101, 50);
    background: rgba(255, 255, 255, 0.5);
    width: 65%;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.button {
    border-radius: 12px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(145, 101, 50);
}

.page {
    font-weight: bold;
    font-size: 30px;
}

#logo {
    padding-top: 0px;
}

#top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: left;
}

#bottom {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 50px;
    
}

.img {
    margin-top: 20px;
    
}

.text {
    
}